<!-- CocoaSyncer V1 -->
<!-- Powered By Luckykeeper <luckykeeper@luckykeeper.site | https://luckykeeper.site | https://github.com/luckykeeper> -->
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/favicon.ico"/>
    <title>CocoaSyncer API Service - Ciallo~(∠・ω&lt; )⌒☆</title>
</head>
<body style="background-image: url(&quot;/static/sakura.png&quot;);">
    <div><center>
        <p>
            <span>CocoaSyncer Service 已正常运行 - API 服务入口 - V1<br>Powered By Luckykeeper &lt; luckykeeper@luckykeeper.site | 
                <a href="https://luckykeeper.site" target="_blank">https://luckykeeper.site</a> &gt;</span>
        </p>
        <p>
            <a href="/static/t9kX2ZsbR71DFh0IscwBnjtRgJVuakEywhN"><img style="width:80%;height:80%" src="/static/ba" alt="Blue Archive 晄轮大祭广播剧主题曲">
        </p>
    </center></div>
</body>
</html>